FUENTES/Utilidades/src/META-INF/wsdl/IngresosVarios/IngresosVarios.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.davivienda.com/xml/IngresosVarios" xmlns:tns="http://www.davivienda.com/xml/IngresosVarios" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IngresosVarios" type="tns:IngresosVariosType"/>
  <xsd:complexType name="IngresosVariosType">
    <xsd:sequence>
      <xsd:element name="Request" type="tns:RequestType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="DataHeader" type="tns:DataHeaderRequestType"/>
      <xsd:element name="Data" type="tns:DataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataHeaderRequestType">
    <xsd:sequence>
      <xsd:element default="IngresosVarios" name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="jornada" type="xsd:short"/>
      <xsd:element name="canal" type="xsd:short"/>
      <xsd:element name="modoDeOperacion" type="xsd:short"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="perfil" type="xsd:short"/>
      <xsd:element default="1.1.0" name="versionServicio" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataRequestType">
    <xsd:sequence maxOccurs="1" minOccurs="1">
      <xsd:element name="concepto" type="xsd:short"/>
      <xsd:element minOccurs="0" name="talon" type="xsd:int"/>
      <xsd:element name="efectivo" type="xsd:decimal"/>
      <xsd:element name="cheques" type="xsd:decimal"/>
      <xsd:element name="valorTotal" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="referencia1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="referencia2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="referencia3" type="xsd:string"/>
      <xsd:element minOccurs="0" name="referencia4" type="xsd:string"/>
      <xsd:element minOccurs="0" name="referencia5" type="xsd:string"/>
      <xsd:element minOccurs="0" name="beneficiario" type="xsd:string"/>
      <xsd:element name="codigoBanco" type="xsd:short"/>
      <xsd:element name="numeroDeCheque" type="xsd:int"/>
      <xsd:element minOccurs="0" name="chequera" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="IngresosVariosResponse" type="tns:IngresosVariosRespType"/>
  <xsd:complexType name="IngresosVariosRespType">
    <xsd:sequence>
      <xsd:element name="Response" type="tns:ResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="DataHeader" type="tns:DataHeaderResponseType"/>
      <xsd:element minOccurs="0" name="Data" type="tns:DataResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataHeaderResponseType">
    <xsd:sequence>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="caracterAceptacion" type="xsd:string"/>
      <xsd:element name="ultimoMensaje" type="xsd:short"/>
      <xsd:element name="codMsgRespuesta" type="xsd:short"/>
      <xsd:element minOccurs="0" name="msgRespuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataResponseType">
    <xsd:sequence>
      <xsd:element name="talon" type="xsd:int"/>
      <xsd:element name="oficina" type="xsd:int"/>
      <xsd:element name="concepto" type="xsd:int"/>
      <xsd:element name="valor" type="xsd:decimal"/>
      <xsd:element name="referencia" type="xsd:long"/>
      <xsd:element name="dataTrans" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>