FUENTES/Utilidades/src/META-INF/wsdl/NDebitoCosto/NDebitoCosto.xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.davivienda.com/xml/NotaDebitoCosto" xmlns:tns="http://www.davivienda.com/xml/NotaDebitoCosto" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DataHeaderType">
    <xsd:sequence>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="jornada" type="xsd:short"/>
      <xsd:element name="canal" type="xsd:short"/>
      <xsd:element name="modoDeOperacion" type="xsd:short"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="perfil" type="xsd:short"/>
      <xsd:element name="versionServicio" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataType">
    <xsd:sequence>
      <xsd:element name="tipoNotaDebito" type="xsd:string"/>
      <xsd:element name="origen" type="xsd:short"/>
      <xsd:element name="cuenta" type="xsd:long"/>
      <xsd:element name="talon" type="xsd:int"/>
      <xsd:element name="motivoDebito" type="xsd:short"/>
      <xsd:element name="codigoDelBanco" type="xsd:short"/>
      <xsd:element name="motivoDevolucionDebito" type="xsd:short"/>
      <xsd:element name="fechaDebito" type="xsd:int"/>
      <xsd:element name="valorDelDebito" type="xsd:decimal"/>
      <xsd:element name="cuentaChequeDebito" type="xsd:string"/>
      <xsd:element name="referencia1" type="xsd:string"/>
      <xsd:element name="referencia2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="DataHeader" type="tns:DataHeaderType"/>
      <xsd:element name="Data" type="tns:DataType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotaDebitoCostoType">
    <xsd:sequence>
      <xsd:element name="Request" type="tns:RequestType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotaDebitoCostoRequest" type="tns:NotaDebitoCostoType"/>
  <xsd:complexType name="DataHeaderResponseType">
    <xsd:sequence>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="caracterAceptacion" type="xsd:string"/>
      <xsd:element name="ultimoMensaje" type="xsd:short"/>
      <xsd:element name="codMsgRespuesta" type="xsd:short"/>
      <xsd:element minOccurs="0" name="msgRespuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataResponseType">
    <xsd:sequence>
      <xsd:element name="oficinaDebito" type="xsd:string"/>
      <xsd:element name="talonDebito" type="xsd:string"/>
      <xsd:element name="indicadorPin" type="xsd:string"/>
      <xsd:element name="indicadorTalonario" type="xsd:string"/>
      <xsd:element name="tituloSalida" type="xsd:string" nillable="true"/>
      <xsd:element name="valorSalida" type="xsd:decimal"/>
      <xsd:element name="cuentaDebito" type="xsd:string" nillable="true"/>
      <xsd:element name="fechaDebito" type="xsd:string" nillable="true"/>
      <xsd:element name="mensajeReferencia" type="xsd:string" nillable="true"/>
      <xsd:element name="referencia1" type="xsd:string" nillable="true"/>
      <xsd:element name="referencia2" type="xsd:string" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="DataHeader" type="tns:DataHeaderResponseType"/>
      <xsd:element minOccurs="0" name="Data" type="tns:DataResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotaDebitoCostoResponseType">
    <xsd:sequence>
      <xsd:element name="Response" type="tns:ResponseType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotaDebitoCostoResponse" type="tns:NotaDebitoCostoResponseType"/>
</xsd:schema>