FUENTES/Utilidades/src/META-INF/wsdl/SolicitudNotaCreditoCtaAhorros/SolicitudNotaCreditoCtaAhorrosService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SolicitudNotaCreditoCtaAhorrosService" targetNamespace="http://servicios.davivienda.com/solicitudNotaCreditoCtaAhorrosService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://servicios.davivienda.com/solicitudNotaCreditoCtaAhorrosServiceTypes" xmlns:tns="http://servicios.davivienda.com/solicitudNotaCreditoCtaAhorrosService">
  <types>
    <schema targetNamespace="http://servicios.davivienda.com/solicitudNotaCreditoCtaAhorrosServiceTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://servicios.davivienda.com/solicitudNotaCreditoCtaAhorrosServiceTypes" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="generarNotaCreditoCtaAhorros">
        <sequence>
          <element name="SolicitudNotaCreditoCtaAhorrosDto_1" type="tns:SolicitudNotaCreditoCtaAhorrosDto" nillable="true"/>
        </sequence>
      </complexType>
      <simpleType name="validacionSegundaClave">
        <restriction base="string">
          <maxLength value="16"/>
        </restriction>
      </simpleType>
      <xsd:simpleType name="validacionTotal">
        <xsd:restriction base="int">
          <xsd:minInclusive value="0"/>
        </xsd:restriction>
      </xsd:simpleType>
      <complexType name="SolicitudNotaCreditoCtaAhorrosDto">
        <sequence>
          <element name="identificadorOperacion" type="string" nillable="true"/>
          <element name="identificadorSesion" type="string" nillable="true"/>
          <element name="origenLog" type="string" nillable="true"/>
          <element name="canal" type="short" nillable="true"/>
          <element name="host" type="int" nillable="true"/>
          <element name="idTarea" type="string" nillable="true"/>
          <element name="jornada" type="short" nillable="true"/>
          <element name="llaveRepetitivaConsulta" type="tns:CampoExtendidoDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <element name="modoDeOperacion" type="short" nillable="true"/>
          <element name="parametrosSeguridad" type="tns:ParametrosSeguridadDTO" nillable="true"/>
          <element name="perfil" type="short" nillable="true"/>
          <element name="segundaClave" type="tns:validacionSegundaClave" nillable="true"/>
          <element name="total" type="tns:validacionTotal" nillable="true"/>
          <element name="usuario" type="string" nillable="true"/>
          <element name="codigoBanco" type="short" nillable="true"/>
          <element name="concepto" type="string" nillable="true"/>
          <element name="cuentaChequera" type="string" nillable="true"/>
          <element name="fechaAplicacion" type="dateTime" nillable="true"/>
          <element name="motivoDevoluncionCheque" type="string" nillable="true"/>
          <element name="numeroCuentaCheque" type="string" nillable="true"/>
          <element name="oficinaRecaudo" type="string" nillable="true"/>
          <element name="origenFondos" type="string" nillable="true"/>
          <element name="referencia1" type="string" nillable="true"/>
          <element name="talon" type="string" nillable="true"/>
          <element name="valorNotaCredito" type="decimal" nillable="true"/>
        </sequence>
      </complexType>
      <complexType name="CampoExtendidoDto">
        <sequence>
          <element name="caracterRelleno" type="string" nillable="true"/>
          <element name="esAuditable" type="boolean" nillable="true"/>
          <element name="esEncabezado" type="boolean" nillable="true"/>
          <element name="esLlaveDeRepetitivo" type="boolean" nillable="true"/>
          <element name="esParametro" type="boolean" nillable="true"/>
          <element name="esRepetitivo" type="boolean" nillable="true"/>
          <element name="idCampo" type="long" nillable="true"/>
          <element name="idCampoLlaveRepetitiva" type="long" nillable="true"/>
          <element name="idFormato" type="long" nillable="true"/>
          <element name="iniciaEnCeros" type="boolean" nillable="true"/>
          <element name="justificacion" type="short" nillable="true"/>
          <element name="longitud" type="int" nillable="true"/>
          <element name="nombre" type="string" nillable="true"/>
          <element name="nombreAtributoDto" type="string" nillable="true"/>
          <element name="posicionInicial" type="int" nillable="true"/>
          <element name="tipoDato" type="string" nillable="true"/>
          <element name="valorActual" type="string" nillable="true"/>
          <element name="valorPorDefecto" type="string" nillable="true"/>
          <element name="JMascara" type="string" nillable="true"/>
          <element name="PMascara" type="string" nillable="true"/>
          <element name="valor" type="string" nillable="true"/>
        </sequence>
      </complexType>
      <complexType name="ParametrosSeguridadDTO">
        <sequence>
          <element name="debeRevalidarToken" type="boolean"/>
          <element name="debeValidarSegundaClave" type="boolean"/>
          <element name="idSesionToken" type="string" nillable="true"/>
          <element name="usaToken" type="boolean"/>
        </sequence>
      </complexType>
      <complexType name="generarNotaCreditoCtaAhorrosResponse">
        <sequence>
          <element name="result" type="tns:RespuestaNotaCreditoCtaAhorrosDto" nillable="true"/>
        </sequence>
      </complexType>
      <complexType name="RespuestaNotaCreditoCtaAhorrosDto">
        <sequence>
          <element name="MRespuesta" type="string" nillable="true"/>
          <element name="caracterAcepta" type="string" nillable="true"/>
          <element name="codMRespuesta" type="short" nillable="true"/>
          <element name="consecutivo" type="int" nillable="true"/>
          <element name="llaveRepetitivoSiguienteTrama" type="tns:CampoExtendidoDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <element name="numeroLineas" type="short" nillable="true"/>
          <element name="respuestaOriginal" type="string" nillable="true"/>
          <element name="tieneMasRegistros" type="boolean" nillable="true"/>
          <element name="total" type="int" nillable="true"/>
          <element name="ultimoMensaje" type="short" nillable="true"/>
          <element name="cuenta" type="string" nillable="true"/>
          <element name="fecha" type="dateTime" nillable="true"/>
          <element name="motivo" type="string" nillable="true"/>
          <element name="oficina" type="string" nillable="true"/>
          <element name="referencia" type="string" nillable="true"/>
          <element name="talon" type="string" nillable="true"/>
          <element name="valor" type="decimal" nillable="true"/>
        </sequence>
      </complexType>
      <complexType name="ServicioException">
        <sequence>
          <element name="codMRespuesta" type="short" nillable="true"/>
          <element name="mensaje" type="string" nillable="true"/>
          <element name="total" type="int" nillable="true"/>
        </sequence>
      </complexType>
      <element name="generarNotaCreditoCtaAhorros" type="tns:generarNotaCreditoCtaAhorros"/>
      <element name="generarNotaCreditoCtaAhorrosResponse" type="tns:generarNotaCreditoCtaAhorrosResponse"/>
      <element name="ServicioException" type="tns:ServicioException"/>
    </schema>
  </types>
  <message name="SoliNotaCredCtaAhorrosServiceInterface_generarNotaCreditoCtaAhorros">
    <part name="parameters" element="ns2:generarNotaCreditoCtaAhorros"/>
  </message>
  <message name="SoliNotaCredCtaAhorrosServiceInterface_generarNotaCreditoCtaAhorrosResponse">
    <part name="result" element="ns2:generarNotaCreditoCtaAhorrosResponse"/>
  </message>
  <message name="ServicioException">
    <part name="ServicioException" element="ns2:ServicioException"/>
  </message>
  <portType name="SoliNotaCredCtaAhorrosServiceInterface">
    <operation name="generarNotaCreditoCtaAhorros">
      <input message="tns:SoliNotaCredCtaAhorrosServiceInterface_generarNotaCreditoCtaAhorros"/>
      <output message="tns:SoliNotaCredCtaAhorrosServiceInterface_generarNotaCreditoCtaAhorrosResponse"/>
      <fault name="ServicioException" message="tns:ServicioException"/>
    </operation>
  </portType>
  <binding name="SoliNotaCredCtaAhorrosServiceInterfaceBinding" type="tns:SoliNotaCredCtaAhorrosServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="generarNotaCreditoCtaAhorros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServicioException">
        <soap:fault name="ServicioException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SolicitudNotaCreditoCtaAhorrosService">
    <port name="SoliNotaCredCtaAhorrosServiceInterfacePort" binding="tns:SoliNotaCredCtaAhorrosServiceInterfaceBinding">
      <soap:address location="http://90.4.28.5:80/servicios/SolicitudNotaCreditoCtaAhorrosService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    </port>
  </service>
</definitions>